[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django = "*"
dotenv = "*"
gunicorn = "*"
gevent = "*"
django-axes = {extras = ["ipware"], version = "*"}

[dev-packages]
pandas = "*"

[requires]
python_version = "3.13"
python_full_version = "3.13.0"
